<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produtot</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form action="" method="put">
        Nome: <input type="text" name="nome" required/><br><br>
        Preço: <input type="number" name="preco" required/><br><br>
        <button type="submit">Editar Produto</button>
    </form>
    <a href="/">Voltar</a>
</body>
</html>